body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;

}

main {
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .col {
    flex-basis: 45%;
  }
}

/* Example: Adjust styles for larger desktop screens (1024px and up) */
@media (min-width: 1024px) {
  .container {
    padding: 30px;
  }
}
