.container {
  min-height: 100vh;
  padding: 0 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
