.container {
  min-height: 100vh;
  padding: 0 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


@media (min-width: 768px) {
  .col {
    flex-basis: 45%;
  }
}

/* Example: Adjust styles for larger desktop screens (1024px and up) */
@media (min-width: 1024px) {
  .container {
    padding: 30px;
  }
}
