.footer , .footer .IconContainer  {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      Fira Sans,
      Droid Sans,
      Helvetica Neue,
      sans-serif;
  }

  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }

  footer p.disclaimer {
    font-size: 0.75rem; /* Smaller font size for disclaimer */
    color: #666; /* Optional: Adjust text color */
    text-align: center;

  }