/* components/Navbar.module.css */
.navbar {
    background-color: #333;
    padding: 1rem;
    border-radius: 30px;
}

.navbarContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.navLink {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navLink:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .col {
      flex-basis: 45%;
    }
  }
  
  /* Example: Adjust styles for larger desktop screens (1024px and up) */
  @media (min-width: 1024px) {
    .container {
      padding: 30px;
    }
  }
  