/* components/Navbar.module.css */
.navbar {
    background-color: #333;
    padding: 1rem;
    border-radius: 30px;
}

.navbarContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.navLink {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navLink:hover {
    text-decoration: underline;
}
