.TradingGuide {
    background-color: #ffffff; /* Background color */
    padding: 2rem; /* Padding inside the container */
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for the container */
    border: 2px solid #ddd; /* Border color and thickness */
    max-width: 800px; /* Optional: Set a maximum width */
    margin: 2rem auto; /* Center the container with automatic margins */
    text-align: center; /* Align text to the left */
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .TradingGuide h1, 
  .TradingGuide h2, 
  .TradingGuide h3 {
    margin-bottom: 1rem; /* Space below headers */
  }
  
  .TradingGuide p {
    margin-bottom: 0.5rem; /* Space below paragraphs */
    text-align: center; /* Align text to the left */

  }
  
  